.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.contact__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: capitalize;
}

.contact__p {
    font-size: var(--size-s);
    color: var(--clr-slate600);
    max-width: 60ch;
}

.contact__btn {
    font-size: var(--size-s);
}

/*XS*/
@media (min-width: 475px){
    .contact {
       gap: 1.5rem;
    }
    
    .contact__title {
        font-size: var(--size-3xl);
    }
    
    .contact__p {
        font-size: var(--size-base);
    }
    
    .contact__btn {
        font-size: var(--size-base);
    }
}

/*S*/
/* @media (min-width: 640px){} */

/*M*/
/* @media (min-width: 768px){} */

/*L*/
@media (min-width: 1024px){
     .contact__title {
         font-size: var(--size-4xl);
     }
     
     .contact__p {
         font-size: var(--size-l);
     }
     
     .contact__btn {
         font-size: var(--size-l);
     }
}

/*XL*/
@media (min-width: 1280px){
    .contact {
        gap: 2rem;
     }
     
     .contact__title {
         font-size: var(--size-5xl);
     }
     
     .contact__p {
         font-size: var(--size-2xl);
     }
     
     .contact__btn {
         font-size: var(--size-2xl);
     }
}

/*XXL*/
/* @media (min-width: 1536px){} */